<h1 class ="welcome">Welcome to Chitter! Here's what's trending right now!</h1>

<ul class="tweet">
    <% @tweets.each do |tweet| %>
        <li>
            <p>@<%= tweet.user %> says:</p>
            <p></p>
            <p><strong> <%= tweet.message %> </strong></p>
        </li>
    <% end %>
</ul>
